---
layout: default
title: Home
---

<section class="section">
   <div class="container">
      <div class="content">
         <h1 class="title">What we are</h1>
         <p>No-Intro is a game preservation database and internet community dedicated to collecting precise and accurate information about every video game ever released on cartridges, floppies or for digital download on any system. The goal is to make blueprints of the data that makes up console and computer games. This data, or “dump”, refers to a copy of the data contained in a game medium. (“dump” is also used as a verb to represent the process of obtaining the data from the physical media). Users of the website who follow our dumping guides correctly are encouraged to share their results to help build the database. Multiple dumps of the same version of a game, from different pieces of physical media, made by different people, are collected to ensure the results are correct, as well as helping to identify new versions of the game.</p>

         <h1 class="title">What we do</h1>
         <p>What No-Intro does is fill a catalogue with information about ROMs (dumps) that have been released. This includes ROMs shared on the internet, or submitted by users.  Often there is more than one ROM of the same game on the web, but most of them are garbage or inaccurate, some examples include: bad dumps, hacks, fakes, overdumps, underdumps, and so on. No-Intro’s goal is to have the best available ROM listed.  Ideally this is a ROM that contains as much data as possible from the original media, with no faults and changes to the ROM. We also include documentation on the physical media (e.g. photographs of the cartridge) and the dumping process.</p>
         <p>Our goal is entirely different to piracy groups! We do not distribute the ROMs, we catalogue information, and we have a focus on accuracy.
            We follow a consistent naming convention to ensure ROMs can be easily identified and differentiated from one another.
            Our database is not complete, and hence contributions are welcome. See the Help us section for more information.
         </p>

         <h1 class="title">Why we are called No-Intro</h1>
         <p>When this project was born its goal was to remove the intros (a short video or animation played before the game would run) that some pirate groups added to Game Boy Advance ROMs.
            This is why it's called "No-Intro". The objective is to preserve unaltered ROMs.
            In later years, we've covered more and more systems: after all the hard work on GBA, GBC, N64, e-Reader and N-Gage, we opened more fronts of preservation to include newer consoles, and other older ones as well.
         </p>

         <h1 class="title">DAT files</h1>
         <p>The No-Intro database (DAT-o-MATIC) allows you to download DAT files for use with ROM managers. DAT files contain information on only the best available ROM dumps (filenames, sizes, hashes (CRC32, MD5, SHA1, SHA256), in XML format) for a particular game system, and is generated from the No-Intro database. They have the extension .dat. DAT files for a given system, when run through a ROM manager, allow you to automatically organise and audit your ROM collection, this includes renaming files to match a consistent naming convention, as well as removing bad dumps. The result of using a ROM manager is that you have a set that matches the best available ROMs listed in our database.</p>
         <p>Some examples of ROM managers that work with our DATs include [https://www.romvault.com/ ROMVault] and [https://mamedev.emulab.it/clrmamepro/ clrmamepro].</p>
         <p>DAT-o-MATIC (DoM) also allows you to download customized DATs, to allow you to build your own custom ROM sets.. Options such as only selecting certain regions, excluding proto/demo/beta ROMs, and other custom filters, are available.  DoM also contains Parent-Clone information for the systems. These Parent-Clone DATs allow you to create a 1G1R (one game, one ROM) collection from your current one. If you prefer USA ROMs, then EUR ones, then JPN, a list containing USA releases, then the EUR without USA releases and finally the JPN ones without USA or EUR releases can be generated. All regions with releases in a given system are supported (i.e you could prefer Spain > EUR > USA > Italy > Japan...).</p>
         
         <h1 class="title">Help us!</h1>
         <p>We need you to grow and you can provide your help in various ways. For example...
         <ul>
            <li>Consult the undumped lists. The undumped lists contain what is not yet dumped. Maybe you may have some old cartridges lying around under your bed or in the closet just collecting dust? These are the things that may be useful to our goals, so please take the time to check.</li>
            <li>We always need to advertise. Just tell your friends, etc about us in the sites or communities that you browse.</li>
            <li>Contact us to find out how to donate money (Paypal) so we can purchase undumped games or how to send undumped or unverified games. Any monies sent will be NOT used for personal use/gain. Games will be returned.</li>
            <li>Are you a dumper? SHARE with others what you find - this is the only way that preservation can be achieved. Tight fisted hoarders are of no use to the community.</li>
            <li>Have you come across any interesting looking dumps on the web that are not in the database? Please send to/ask us and we will happily investigate them for you.</li>
            <li>Lurkers and leechers are still welcome and free to idle, but we suggest and urge that you all contribute some effort to discuss, approve or disapprove of our ideas and methods. Tell us what you like and what you dislike. Suggestions are welcome on our forum.</li>
         </ul>
         </p>
      </div>
   </div>
</section>
